*, *::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
     width: 100%;
    height: 100%;
    font-size: clamp(14px,1vw,18px);
}
 body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
.main{
     width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
    position: relative;
    user-select: none;
    overflow: hidden;
}
button{
    padding: 1rem 3rem;
    background-color: chocolate;
    color: #000;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    transition: all ease 0.1s;
    user-select: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
button:active{
    scale: 0.90;
    background-color: rgb(139, 61, 5);
}
.paper-square {
    transition: transform 0.2s ease;
}
