*, *::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: sans-serif;
    
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#cursor{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 1px solid white;
    transition: all linear 0.4s;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;

}
.card{
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
    color: rgb(255, 255, 255);
    user-select: none;
}
.prof{
    width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
}
.prof img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
font-size: 1.7rem;
}
h3{
    background-color: rgb(34, 162, 248);
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    border-radius: 3px;
    cursor: pointer;
}
